   <!-- modal-->
     <div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h3 class="modal-title">{{productInfo.name}}</h3>
               <a href="#" data-dismiss="modal" class="class pull-right"><span class="fa fa-close"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img [src]="productInfo.imageUrl" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <h4>Product Id: <span>{{productInfo.productId}}</span></h4>
                        <div class="rating">
                            <span class="fa fa-star" [ngClass]="i<=productInfo.ratings?'fa-star':'fa-star-o'" *ngFor="let i of [1,2,3,4,5]; let i = index;"></span>
                            ({{productInfo.reviews}} reviews)
                        </div>
                        <ul>
                         <li *ngFor="let description of productInfo.detailedDescription">{{description}}</li>   
                        </ul>
                        <h3 class="cost"><span class="fa fa-dollar"></span>{{productInfo.price}}<small *ngIf="productInfo.preCost" class="pre-cost"><span class="fa fa-dollar"></span> {{productInfo.preCost}}</small></h3>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <select class="form-control" name="select">
                                    <option *ngFor="let color of productInfo.colors" [value]="color">{{color}}</option>
                                    
                                </select>
                            </div>
                            <!-- end col -->
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <select class="form-control" name="select">
                                    <option *ngFor="let storage of productInfo.capacity" [value]="storage">{{storage}}</option>
                                </select>
                            </div>
                            <!-- end col -->
                            <div class="col-md-4 col-sm-12">
                                <select class="form-control" name="select">
                                    <option value="" selected="">QTY</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                            <!-- end col -->
                        </div>
                        <div class="space-ten"></div>
                        <div class="btn-ground">
                            <button type="button" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Add To Cart</button>
                            <button type="button" class="btn btn-primary m-l-t"><span class="fa fa-heart"></span> Add To Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- modal end-->
    
    
