<div class="container">
       <div class="row">
        <div class="col-lg-12">
          <h1 class="my-4" >Thank you for placing your order !! </h1>
          <h3>Your order has been confirmed</h3>
          <strong><p><span>Order Number : {{orderDetails.cartId}}</span></p></strong>
         </div>
        </div>
        
      <div class="btn-ground m-b-xl">
        <button type="button" [routerLink]="'/home-page/landing'" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Continue to Shopping</button>
      </div>  
</div> 