<div id="myModal" class="modal" [ngStyle]="{ 'display': 'block','background-image': 'url(' + contentData.backgroundImage + ')'}" >
	<div class="modal-dialog modal-login" style="margin-top:10%;">
		<div class="modal-content">
			<div id="login-form" *ngIf="showLoginForm; else registerForm">
			<form [formGroup]="loginForm" >
				<div class="modal-header">				
					<h4 class="modal-title">{{contentData.loginTitle}}</h4>
					
				</div>
				<div class="modal-body">				
					<div class="form-group">
						<label>{{contentData.userName}}</label>
						<input [ngClass]="loginForm.controls.userName.touched && loginForm.controls.userName.invalid?'invalid-input':''" type="text" [placeholder]="'User Name'" class="form-control" formControlName="userName">
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label>{{contentData.password}}</label>
							<a href="#" (click)="showLoginForm=false" class="pull-right text-muted" style="margin-left:10px;"><small>{{contentData.newUser}}</small></a>
							<a href="#" class="pull-right text-muted"><small>{{contentData.forgot}}</small></a>
						</div>
						
						<input type="password" [ngClass]="loginForm.controls.userPassword.touched && loginForm.controls.userPassword.invalid?'invalid-input':''" [placeholder]="'Password'" formControlName="userPassword" class="form-control">
					</div>
					<img class="spinner-icon" src="assets/spinner.gif" *ngIf="showSpinner"/>
					<p class="errorAlert m-b-10" *ngIf="isAuthenticationFailed">
                            <span class="fa fa-exclamation-circle"></span>
                            <span class="m-l-t">Invalid User/Password!</span></p>
				</div>
				<div class="modal-footer">
					<label class="checkbox-inline pull-left"><input type="checkbox">{{contentData.remember}}</label>
					<input type="button" [disabled]="loginForm.invalid" (click)="processLogin()" class="btn btn-primary pull-right" [value]="contentData.login">
				</div>
			</form>
		</div>
		<ng-template #registerForm>
		<div class="register-form">
			<form #userRegisteration="ngForm" (ngSubmit)="registerNewUser(userRegisteration.value)" method="post">
				<div class="modal-header">				
					<h4 class="modal-title">{{contentData.registerTitle}}</h4>
					
				</div>
				<div class="modal-body">				
					<div class="form-group">
						<input type="text" [placeholder]="contentData.userNamePlaceholder" ngModel name="userName" class="form-control" required="required">
					</div>
					<div class="form-group">
					    <input type="password" class="form-control" ngModel name="newPassword" [placeholder]="contentData.newPasswordPlaceholder" required="required">
					</div>
					<div class="form-group">
					    <input type="password" [placeholder]="contentData.confirmPasswordPlaceholder" ngModel name="confirmPassword" class="form-control" required="required">
					</div>
					<div class="form-group">
					    <input type="password" [placeholder]="contentData.shopAuthcodePlaceholder" ngModel name="shopAuthcode" class="form-control" required="required">
					</div>
				</div>
				<div class="modal-footer">
					<input (click)="showLoginForm=true;" type="button" class="btn btn-primary pull-right" [value]="contentData.backLogin">
					<input type="submit" class="btn btn-primary pull-right" [value]="contentData.register">
				</div>
			</form>
		</div>
	</ng-template>
		</div>
	</div>
</div>
