    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h3 class="modal-title">How do you want to receive your order?</h3>
               <a  href="javascript:void()" (click)="modal.dismiss();" class="class pull-right"><span class="fa fa-close"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                 <div class="btn-ground">
                            <button type="button"   (click)="navigateToPayment()" class="btn btn-primary"><span class="fa fa-shopping-cart m-r-xs"></span>Hands on Delivery</button>
                            <button type="button" (click)="navigateToShipping()" class="btn btn-primary m-l-t"><span class="fa fa-truck m-r-xs"></span>Ship the Order</button>
                        </div>
                </div>
            </div>
       </div>
    </div>

    
    
