<div class="container float-right">
    <h2 class="my-4">Order Payment</h2>
    <div class="form-div">
    <div  *ngIf="shippingAddress" class="shipping-address-section my-4">
     <h4>Shipping address</h4>
    <div>{{shippingAddress.fullName}}</div>
    <div>{{shippingAddress.addressLine1}}</div>
    <div *ngIf="shippingAddress.addressLine2">{{shippingAddress.addressLine2}}</div>
    <div>{{shippingAddress.zipCode}} , {{shippingAddress.city}}</div>
    <div>{{shippingAddress.state}}, {{shippingAddress.country}}</div>
    </div>	
    <form [formGroup]="paymentForm">
     <h4 class="my-4">Select payment method and process the payment</h4>
     <strong><p><span>Amount to be paid : {{currentOrder.totalAmount}}</span></p></strong>
     <strong><p><span>GST (CGST/SGST)  : {{currentOrder.totalTax}}</span></p></strong>
     <strong><p><span>Net Amount to be paid : {{currentOrder.netPayAmount}}</span></p></strong>
     <div class="form-group">
		 <select class="form-control" (change)="updatePaymentMode()" formControlName="paymentMode">
                                    <option value="cash">Cash</option>
                                    <option value="card">Debit/Credit Card</option>
         </select>
     </div>
     <div formGroupName="cashForm" *ngIf="paymentForm.value.paymentMode==='cash'">
        <div class="form-group" >
		 <input type="text" [ngClass]="paymentForm.controls.cashForm.touched && paymentForm.controls.cashForm.errors? 'invalid-input':''" [placeholder]="'Amount'" [min]="60000" (blur)="checkEnteredAmount()" minlength="2" maxlength="10" numeric-only formControlName="amount" class="form-control">
        </div>
        <strong *ngIf="changeDue" ><p><span>Change Due : {{changeDue}}</span></p></strong>
	 </div>
     <div formGroupName="cardForm" *ngIf="paymentForm.value.paymentMode==='card'">
		<div class="form-group" >
	     <input type="text" minlength="3" maxlength="15" [placeholder]="'Card holder name'" formControlName="name" class="form-control">
	    </div>
	    <div class="form-group">
	     <input type="text" [placeholder]="'Card number'" minlength="12" maxlength="16" numeric-only formControlName="cardNumber" class="form-control">
	    </div>
	    <div class="form-group">
	     <input type="text" [placeholder]="'CVV'" numeric-only minlength="3" maxlength="4" formControlName="cvv" class="form-control" required="required">
	    </div>
	    <div class="form-group">
	     <select class="form-control" formControlName="expiryMonth">
            <option *ngFor="let month of monthYearConst; let i=index" [value]="i?i:null" [disabled]="!i">{{month}}</option>
         </select>
	    </div>
	    <div class="form-group">
	     <select class="form-control" formControlName="expiryYear">
            <option *ngFor="let year of yearsList; let i=index" [value]="i?i:null" [disabled]="!i">{{year}}</option>
         </select>
        </div>
	 </div>
	 <div class="row" [ngClass]="paymentForm.value.paymentMode==='card'?'m-b-50':''">
        <div class="btn-ground">
         <button type="button"   [disabled]="paymentForm.value.paymentMode==='cash'?paymentForm.controls.cashForm.invalid:paymentForm.controls.cardForm.invalid" class="btn btn-primary" (click)="saveShippingAddress()">Continue</button>
           <button type="button"  [routerLink]="'/home-page/cart-page/shipping'" class="btn btn-primary m-l-t">Back</button>
        </div>
      </div>
	 
    </form>
    </div>
 </div>
