<div class="container float-right">
    <h2 class="my-4">Order Payment</h2>
    <div class="form-div">
    <div class="shipping-address-section my-4">
     <h4>Shipping address</h4>
    <div>{{shippingAddress.fullName}}</div>
    <div>{{shippingAddress.addressLine1}}</div>
    <div *ngIf="shippingAddress.addressLine2">{{shippingAddress.addressLine2}}</div>
    <div>{{shippingAddress.zipCode}} , {{shippingAddress.city}}</div>
    <div>{{shippingAddress.state}}, {{shippingAddress.country}}</div>
    </div>	
    <form [formGroup]="paymentForm">
     <h4 class="my-4">Select payment method and process the payment</h4>
     <strong><p><span>Amount to be paid : {{payableAmount}}</span></p></strong>
     <div class="form-group">
		 <select class="form-control" (change)="updatePaymentMode()" formControlName="paymentMode" required="required">
                                    <option value="cash">Cash</option>
                                    <option value="card">Debit/Credit Card</option>
         </select>
     </div>
     <div formGroupName="cashForm" *ngIf="paymentForm.value.paymentMode==='cash'">
        <div class="form-group" >
		 <input type="text" [placeholder]="'Amount'" formControlName="amount" class="form-control" required="required">
        </div>
	 </div>
     <div formGroupName="cardForm" *ngIf="paymentForm.value.paymentMode==='card'">
		<div class="form-group" >
	     <input type="text" [placeholder]="'Card holder name'" formControlName="name" class="form-control" required="required">
	    </div>
	    <div class="form-group">
	     <input type="text" [placeholder]="'Card number'" formControlName="cardNumber" class="form-control" required="required">
	    </div>
	    <div class="form-group">
	     <input type="text" [placeholder]="'CVV'" formControlName="cvv" class="form-control" required="required">
	    </div>
	    <div class="form-group">
	     <select class="form-control" formControlName="expiryMonth" required="required">
            <option *ngFor="let month of monthYearConst; let i=index" [value]="i">{{month}}</option>
         </select>
	    </div>
	    <div class="form-group">
	     <select class="form-control" formControlName="expiryYear" required="required">
                                <!-- <option *ngFor="let month of monthYearConst." [value]="index">{{month}}</option> -->
         </select>
        </div>
	 </div>
	 <div class="row" [ngClass]="paymentForm.value.paymentMode==='card'?'m-b-50':''">
        <div class="btn-ground">
         <button type="button"   [disabled]="paymentForm.invalid" class="btn btn-primary" (click)="saveShippingAddress()">Continue</button>
           <button type="button"  [routerLink]="'/home-page/cart-page/shipping'" class="btn btn-primary m-l-t">Back</button>
        </div>
      </div>
	 
    </form>
    </div>
 </div>
