<div class="container">
       <div class="row">
        <div class="col-lg-6">
          <h1 class="my-4" *ngIf="cartDetails && cartDetails.items.length; else emptyCart">Items in your cart:</h1>
          <ng-template #emptyCart>
          <h1 class="my-4">Your cart is empty</h1>
          <span class="font-style fa fa-shopping-cart"></span>
        </ng-template>
         </div>
        </div>
        <div id="item-list" *ngIf="cartDetails">
        <div class="row" *ngFor="let item of cartDetails.items; trackBy: index; let itemIndex=index">
        <div class="col-lg-3 product_img">
         <img [src]="item.genericDetails.imageUrl" class="img-responsive">
         </div>
        <div class="col-lg-3">
          <h5>{{item.genericDetails.name}}</h5>
          <p><span>{{item.genericDetails.description}}</span></p>
          <p>Color: <span>{{item.color}}</span></p>
          <p>Capacity: <span>{{item.capacity}}</span></p>
        </div>
        <div class="col-lg-2">
          <h5>{{item.genericDetails.price}}</h5>
        </div>
        <div class="col-lg-2">
          <select class="form-control drop-down-width-xs" (change)="updateCartItems()" [(ngModel)]="item.quantity" >
              <option *ngFor="let count of qtyOptionsList"  [value]="count">{{count}}</option>
          </select>
          <!-- <h5>{{item.quantity}}</h5> -->
        </div>
        <div class="col-lg-2">
          <h6 (click)="removeItem(itemIndex)"><span class="font-stle-xs fa fa-trash"></span></h6>
        </div>
        </div>
       </div><!--EOF item list --> 
      <div class="align-right btn-ground m-b-xl" *ngIf="cartDetails && cartDetails.items.length">
        <h6 class="m-b-20">Total amount: <span>{{totalAmount}}</span></h6>
        <button type="button" (click)="addProductToCart(productInfoForm)" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Checkout & Proceed</button>
        <button type="button" (click)="clearCart()" class="btn btn-primary m-l-t">Clear your cart</button>
      </div>  
</div> 
